html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
header{
    justify-content: space-between;
}
.flex-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: red;
}
.theme-dark{
    background-image: url(../img/bg-desktop-dark.jpg) ;
    background-repeat: no-repeat;


}
.theme-light{
    background-image: url(../img/bg-desktop-light.jpg) ;
    background-repeat: no-repeat;
}

header, main{
/* max-width: 550px;
margin: 0 auto; */
margin-left: 400px;
}
.theme-block #theme +label::before{
    content: '';
    background: url(../icon/sun-svgrepo-com\ \(1\).svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.theme-block #theme:checked +label::before{
    background: url(../icon/moon-phases-svgrepo-com.svg);
}
.add-new-item{
    background-color: gray;
    height: 65px;

    width: 80%;
}
